* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fcd5ce;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}

ul {
    list-style: none;
}

button {
    padding: 0.3em;
    margin-left: 2.5em;
}

label, select {
    margin-left: 3em;
}

.semana {
    border: 1px dotted rgb(53, 53, 53);
    width: 14%;
    padding: 6px;
    background-color:#f8f7f7;
}

@media screen and (min-device-width : 320px) and (max-device-width : 420px) {
body{
    margin: 0.7em;
}

    section {
        flex-direction: column;
        justify-content: center;
    }

    .semana {
        width: 100%;
        height: 100%;
    }

    header {
        flex-wrap: wrap;
        margin: 1.5em 0 1em 0 ;
    }
    
    button {
        padding: 0.3em;
        margin-left: 1em;
    }
    
    label, select {
        margin-left: 0em;
    }
}

