@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}