body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Secular One', sans-serif;
}

/* MENU */

header{
    display: flex;
    background-color: orangered;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 5%;
}

.busca{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.titulo {
    display: flex;
    width: 45%;
    font-size: 1.8em;
}

/* CONTEUDO */

#home {
    display: grid;
    width: 90%;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    margin: 4em auto;
    gap: 1em;

}

main>section {
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    display: grid;
    margin: 0 auto;
}

video {
    width: 100%;
}


/* Página Videos */

#media {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 3em;
    margin-bottom: 8em;
}

#media>video {
    width: 60em;
}

#media>h2 {
    font-size: 2em;
}

a {
  text-decoration: none;  
  color: black
}

/* Footer */

footer {
    display: flex;
    padding: 4em;
    background-color: orangered;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-device-width : 421px) and (max-device-width : 800px) {
    #home {
        grid-template: 1fr / 1fr;
        margin: 3em auto;
    }

    img {
        width: 14%;
    }

    .busca {
        width: 38%;
    }
    
    footer {
        padding: 2em;
        text-align: center;
    }

    #media {
        margin-top: 1.5em;
        margin-bottom: 4em;
    }
    
    #media>h2 {
        font-size: 1.5em;
    }
    

    #media>video {
        width: 24em;
    }
}

@media screen and (min-device-width : 320px) and (max-device-width : 420px) {
    
    header{
        flex-direction: column;
    }
    
    img {
        width: 17%;
    }

    .busca{
        width: 50%;
        justify-content: center;
        padding-bottom: 1em;
    }

    .titulo {
        justify-content: center;
        font-size: 2em;
    }
    
    #home {
        grid-template: 1fr / 1fr;
        margin: 2.5em auto;
    }

    footer {
        padding: 2em;
        text-align: center;
    }

    #media {
        margin-top: 1.5em;
        margin-bottom: 4em;
    }
    
    #media>h2 {
        font-size: 1.5em;
    }
    

    #media>video {
        width: 19.9em;
    }
}